
// Fonts
@font-face {
  font-family: 'FFKarbidWebRegular';
  src: url('../fonts/KarbidWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/KarbidWeb.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'FFKarbidWebItalic';
  src: url('../fonts/KarbidWeb-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/KarbidWeb-Italic.woff') format('woff'), /* Pretty Modern Browsers */
}


@font-face {
  font-family: 'FFKarbidWebBold';
  src: url('../fonts/KarbidWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/KarbidWeb-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'FFKarbidWebBoldItalic';
  src: url('../fonts/KarbidWeb-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/KarbidWeb-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
}

$helsinki-blue-dark: rgb(0,51,128);
$helsinki-blue-light: rgb(0,114,198);
$helsinki-blue-extra-light: rgb(4,161,212);
$helsinki-yellow: rgb(255,198,30);
$helsinki-yellow-30: rgb(248,211,98);
$helsinki-yellow-10: rgb(255,249,233);
$black-90: rgb(25,25,25);
$black-50: rgb(128,128,128);
$black-30: rgb(179,179,179);
$black-5: rgb(242,242,242);
$panel-gray: rgb(235,235,235);
$helsinki-danger: rgb(206,0,87);
$helsinki-warning: rgb(246,153,48);

// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: 'FFKarbidWebBold', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

body {
  font-family: 'FFKarbidWebRegular', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  padding-bottom: 60px; // add padding to bottom of the page to leave room for fixed location buttons
  padding-top: 80px;
  font-size: 16px;
  background-color: $panel-gray;
}

/*doc

---
title: Colors
name: Colors
category: Colors
---

<div class="row">
  <div class="col-sm-3 col-xs-6">
    <div style="background:rgb(0,51,128);"><br><br><br><br><br></div>
    <pre class="text-center">$helsinki-blue-dark</pre>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div style="background:rgb(0,114,198);"><br><br><br><br><br></div>
    <pre class="text-center">$helsinki-blue-light</pre>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div style="background:rgb(255,198,30);"><br><br><br><br><br></div>
    <pre class="text-center">$helsinki-yellow</pre>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div style="background:rgb(248,211,98);"><br><br><br><br><br></div>
    <pre class="text-center">$helsinki-yellow-30</pre>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div style="background:rgb(255,249,233);"><br><br><br><br><br></div>
    <pre class="text-center">$helsinki-yellow-10</pre>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div style="background:rgb(25,25,25);"><br><br><br><br><br></div>
    <pre class="text-center">$black-90</pre>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div style="background:rgb(128,128,128);"><br><br><br><br><br></div>
    <pre class="text-center">$black-50</pre>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div style="background:rgb(242,242,242);"><br><br><br><br><br></div>
    <pre class="text-center">$black-5</pre>
  </div>

</div>

```none_example

```

*/

a:link {
  color: $helsinki-blue-light;
  text-decoration: none;
}

a:hover {
  color: $helsinki-blue-light;
  text-decoration: none;
}


// overrides for default navbar styling
.navbar-default {
  background-color: $helsinki-blue-light;
  min-height: 80px;
  padding-top: 15px;
  .navbar-brand {
    color: #fff;
  }
  h3 {
    margin-top: auto;
    margin-bottom: auto;
  }
  .navbar-text {
    font-size: 20px;
  }
  .navbar-toggle {
    border-style: none;
    &:focus, &:hover{
      background-color: $helsinki-blue-light;
    }
    .icon-bar {
      background-color: #fff;
      border-radius: 0px;
      width: 24px;
      height: 3px;
    }
  }
  .navbar-collapse {
    border-style: none;
  }
  .navbar-nav > li >a {
    color: #fff;
  }

}

.navbar-nav > li > a {
  font-size: 20px;
}

.navbar-default .navbar-nav > .active > a {
  background-color: $helsinki-blue-dark;
  color: #fff;
}

// separator element for the navbar texts
.he-separator {
  color: $helsinki-blue-extra-light;
  font-size: 20px;
}

// Overrides for the default panel styles
.panel {
  border-style: none;
  border-radius: 0px;
  background-color: rgb(235,235,235);
  padding-bottom: 2px;
}

.panel-group {
  margin-bottom: 0px;
}

.panel-group .panel {
  border-radius: 0px;
}

.panel-default > .panel-heading {
  border-radius: 0px;
  background-color: $helsinki-blue-extra-light;
  border-style: none;
}

.panel-body {
  background-color: #fff;
  border-style: none;
  margin: 10px;
  box-shadow: 0px 1px 3px 0px rgba(128,128,128,0.5);
}

.he-datestamp {
  color: $helsinki-blue-extra-light;
}

.he-message-status {
  font-family: FFKarbidWebBoldItalic, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-style: italic;
  font-weight: bold;
  .late {
  color: $helsinki-danger;
  }
}

.panel-title a {
  color: #fff;
}

.panel-heading {
  background-color: $helsinki-blue-extra-light;
  color: #fff;
  padding: 15px 15px;
  border-radius: 0px;
  a:link, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    cursor: pointer;
  }
}

.panel .panel-default > a {
  display: block;
}

// end panel styles

.label {
  padding: .3em .6em .3em;
}

.message-bubble {
	position: relative;
	border: 1px solid $helsinki-blue-light;
  padding:10px;
  margin: 20px 0 20px 0;
  border-radius: 3px;
}
.message-bubble:after, .message-bubble:before {
	bottom: 100%;
	left: 50px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.message-bubble:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.message-bubble:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: $helsinki-blue-light;
	border-width: 11px;
	margin-left: -11px;
}

.palaute-actions {
  background-color: $black-5;
  padding: 10px;
  // border: solid 1px  #fff;
}

// controls the message editor expand on focus
.message-editor {
  margin: 20px 0 20px 0;
  height: 34px;
  transition: all 0.5s ease;
  resize: none;
}

.message-editor:focus {
  margin: 20px 0 20px 0;
  height: 200px;
}

.message-subject {
  margin-top: 0;
  padding-top: 2px;
  vertical-align: middle;
  background-color: $black-5;
  border-bottom: solid 1px lighten($black-50, 40);
  .badge {
    padding: 3px 7px 1px 7px;
  }
}

.message-sender {
  @extend .message-subject;
  background-color: #fff;
}

.message-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px lighten($black-50, 40);
}

.contact-card {
  @extend .palaute-actions;
}

// .search-field-container {
//   padding: 10px;
// }

.attachment-wrapper {
  @extend .palaute-actions;
  background-color: #fff;
}

.avatar {
  width: 40px;
  height: 40px;
}

.hr {
  border-bottom: solid 1px lighten($black-50, 40);
  margin-top: 20px;
  margin-bottom: 20px;
}

.hr-nomargin {
  border-bottom: solid 1px lighten($black-50, 40);
  margin: 0;
}

// sets panel title and paragraph size and margin
// .panel-title, p {
//   margin-bottom: 0;
//   font-size: 14px;
//   a {
//     color: #333;
//   }
// }

// .panel .panel-group .panel-default {
//   border-radius: 0px;
//   .message-sender {
//     padding-bottom: 0;
//   }
// }

// .panel-group .panel{
//   border-radius: 0px;
//   border-left: 0;
//   border-right: 0;
// }


// .panel-heading {
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

.availability-online {
  background-color: green;
  height: 16px;
  width: 16px;
}

.availability-offline {
  @extend .availability-online;
  background-color: gray;
}

.date-separator {
  color: $black-30;
}

.comment-first {
  padding-top: 14px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.comment {
  background-color: #fff;
  padding-top: 14px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.display-none {
  display: none;
}

.message-actions {
  padding-bottom: 20px;
}

// removes padding from message div to make it full width
.message-collapse {
  padding-left: 0;
  padding-right: 0;
  border: 0px;
  border-radius: 0px;
}

// media query to fix action buttons to bottom of screen @ <768px
@media (max-width: 768px) {
  #fixed-button {
      position: fixed;
      bottom: 0px;
      right: 0px;
  }
}

// backgroud div for fixed action buttons
.fixed-buttons-bg {
  background-color: $black-5;
  border: solid 1px  #fff;
}

.btn-fixed {
    background-color: $black-5;
    border-radius: 0px;
    &:hover {
      background-color: darken($black-5, 10);
    }
    &:active {
      background-color: darken($black-5, 15);
    }
    // .disabled {
    //   background-color: red;
    //   color: red;
    // }
    // [disabled="disabled"] {
    //   background-color: red;
    //   color: red;
    // }
}

// Animation that fires when the tiedoksi section is updatet on the page
.anim-tiedoksi {
  animation-name: anim-tiedoksi;
  animation-duration: 5s;
  animation-iteration-count: 1;
  // animation-direction: alternate;
  animation-timing-function: ease-in-out;
  // animation-fill-mode: forwards;
  animation-delay: 1s;
}

// keyframes for the animation
@keyframes anim-tiedoksi {
  0% { background-color: #fff; }
  20%   { background-color: $helsinki-yellow-30; }
  100% { background-color: #fff; }
}

.navbar-default .navbar-text {
  color: #fff;
}

@media (min-width: 768px) {
    .navbar-text {
    display: none;
  }
}

// helper classes
.pink {
  background-color: pink;
}

.margin-top-20 {
  margin-top: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: #333;
	font-size: 14px;
	// line-height: 18px;

	-webkit-transform: rotate(-90deg);
	-moz-transform:    rotate(-90deg);
	-ms-transform:     rotate(-90deg);
	-o-transform:      rotate(-90deg);
	transform:         rotate(-90deg);
}
.panel-heading [data-toggle="collapse"].collapsed:after {
	-webkit-transform: rotate(90deg);
	-moz-transform:    rotate(90deg);
	-ms-transform:     rotate(90deg);
	-o-transform:      rotate(90deg);
	transform:         rotate(90deg);
}
